<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="balazs.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap" rel="stylesheet">
</head>
<body>
<div id = 'container'>
<div class = 'parallax' id="image1">
<div class='text'>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Cupiditate non saepe dolore quis, quasi
        perspiciatis officiis velit odit repellat minima?
    </p>
</div>
</div>
<div class = 'parallax' id="image2">
<div class='text'>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Cupiditate non saepe dolore quis, quasi
        perspiciatis officiis velit odit repellat minima?
    </p>
</div>
</div>
<div class = 'parallax' id="image5">
<div class='text'>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Cupiditate non saepe dolore quis, quasi
        perspiciatis officiis velit odit repellat minima?
    </p>
</div>
<button>
    <a href="#container">Top</a>
    </button>
</div>
</div>
</body>
</html>