<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
	<title>Lorand</title>
</head>
<body>
	<h1> Kis Lorand </h1>
    <h3> I was born at a very young age. </h3>
    <img scr="">
    <h3> {{ click_count }} </h3>
    <form action="/lorand", method="POST">
        <button type="submit"> <h3> one metric unit of text(POST) </h3> </button>
    </form>
    <form action="/lorand", method="DElETE">
        <button type="submit"> <h3> restart the count </h3> </button>
    </form>
    <a href="/"> back to the main page </a>
</div>
</body>
</html>
