<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
	<title>Topics</title>
</head>
<body>
	<h1>Do you have an idea?</h1>
	<h2>Let's do a little brainstorming here</h2>
	<form>
		<label for="note-input">Enter your idea:</label><br>
		<textarea id="note-input" name="note" col="60">{{note if note}}</textarea><br>
		<button type="submit">save</button>
	</form>
	<style>
		h1{color:rgb(153,0,0)}
		h2{color:rgb(153,0,0)}
		body{background-color:#dddddd}
		form{color:rgb(153,0,0);
		    font-size:19px}
		button{color:rgb(153,0,0);
		      background-color:#dddddd;
		      border-color:rgb(153,0,0);
		      font-size:14px}
		textarea{background-color:#dddddd;
                        border-color:rgb(153,0,0);
                        color:rgb(153,0,0)}
</html>
